.row{
    background-color: aqua;
    margin-top: 40px;
    margin-bottom: 40px;
}

.columna{
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
    border: 10px solid red;
}
.margen{
    margin-left: 100px;
}